
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1492009272413'); /* IE9*/
  src: url('iconfont.eot?t=1492009272413#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1492009272413') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1492009272413') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1492009272413#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tongzhi:before { content: "\e64f"; }

.icon-baojifuben2:before { content: "\e63d"; }

.icon-jinlingyingcaiwangtubiao95:before { content: "\e6fe"; }

.icon-chengzhang:before { content: "\e603"; }

.icon-dianhua-copy-copy:before { content: "\e60b"; }

.icon-guanxiqunshixin:before { content: "\e62c"; }

.icon-iconcle07:before { content: "\e66a"; }

.icon-quanbu:before { content: "\e640"; }

.icon-duanxin:before { content: "\e655"; }

.icon-geren:before { content: "\e6b8"; }

.icon-geren1:before { content: "\e60a"; }

.icon-kaixin:before { content: "\e610"; }

.icon-duanxin1:before { content: "\e61b"; }

.icon-shouyeshouye:before { content: "\e554"; }

.icon-shouye_shouye:before { content: "\e602"; }

.icon-qinggan:before { content: "\e636"; }

